<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Tsars Tanks!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { 
            background-color: #263238; 
            overflow: hidden;
        }
        .container-fluid {
            background-color: #212121 ;
            padding: 10px;
        }
        h1 {
            color : white;
            margin : 0px;
        }
        canvas {
            margin: 15px;
        }
    </style>
</head>
<body>
    <div class="container-fluid row">
        <div class="col-sm-10 col-sm-offset-1 row">
            <div class="col-sm-4">
                <h1 id="gameTitle"><%= user.username %>'s game</h1>
                <h1 hidden id="currentUser"><%= user.username %></h1>
                <h1 hidden id="gameID"><%= user.username %></h1>
            </div>
            <div class="col-sm-8 hidden-xs hidden-sm">
                <a class="btn btn-lg btn-danger pull-right" href="/endGame">End game</a>
            </div>
            <div id="mobileIndicator" class="col-sm-8 visible-xs visible-sm">
                <button class="btn btn-lg btn-danger pull-right" onclick="location.href='/endGame'">End game</button>
            </div>
        </div>
    </div>

    <div id="mobileIndicator" class="hidden-md-up"></div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="/endGame" class="close"><span aria-hidden="true">&times;</span></a>
                    <h2 class="modal-title">Game over!</h2>
                </div>
                <div class="modal-body text-center">
                <h3 id="modalText"></h3>
                </div>
                <div class="modal-footer">
                    <a href="/endGame" class="btn btn-danger btn-lg">Close</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="JS/hexi.js"></script>
    <script src="JS/pixi.js"></script>
    <script src="JS/modules.js"></script>
    <script src="JS/core.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Main application file -->
    <script src="JS/tankMovement.js"></script>
    <script src="JS/serverCommunication.js"></script>
    <script src="JS/main.js"></script>
</body>
